/* ConfirmDialog Custom Styles */

/* Cancel Button */
.confirm-dialog-cancel-btn-dark {
  background-color: #374151;
  color: #d1d5db;
}

.confirm-dialog-cancel-btn-light {
  background-color: #e5e7eb;
  color: #374151;
}
