/* TypingIndicator Custom Styles */

/* Typing Dots Animation Delays */
.typing-dot-1 {
  animation-delay: 0ms;
}

.typing-dot-2 {
  animation-delay: 150ms;
}

.typing-dot-3 {
  animation-delay: 300ms;
}